@import "bootstrap";

body {        
    background-color: whitesmoke;
    padding-top: 20px;
}


#maincontent {
    margin-top: 65px;
    background-color: whitesmoke;
    h1{
        font-family: Helvetica, sans-serif;
        font-weight: lighter;
    }
}

#contactPage{
    margin-top: 45px;
}